<div class="marginEl">
  <div class="bookingContainer">
    <div mat-dialog.title>
      <h1>Booking Your Spot</h1>
      <!-- <app-booking-list></app-booking-list> -->
      <!-- <button id="bookinglistbtn" color="primary" mat-raised-button (click)="bookingList()">See Booking List</button> -->
      <hr />
    </div>
    <form [formGroup]="bookingForm">
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Plan</mat-label>
          <mat-select [(value)]="plan" (valueChange)="selectPlan()" required>
            <mat-option
              *ngFor="let chargeType of chargeTypes"
              [value]="chargeType"
            >
              {{ chargeType }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input">
        <div class="row">
          <mat-form-field class="wide-input-field" appearance="outline">
            <mat-label>Check_In</mat-label>
            <input
              matInput
              type="datetime-local"
              formControlName="check_In"
              formControlName="check_In"
            />
          </mat-form-field>
        </div>
        <div class="row mb-0">
          <mat-form-field class="wide-input-field" appearance="outline">
            <mat-label>Check_Out</mat-label>
            <input
              matInput
              type="datetime-local"
              formControlName="check_Out"
              *ngIf="!isDisable"
            />
            <input
              matInput
              type="datetime-local"
              [value]="checkOut"
              disabled
              *ngIf="isDisable"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="wide-input-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="emailId" />
          </mat-form-field>
        </div>
        <div class="price-container">
          <button
            class="price-button"
            color="primary"
            (click)="getPrice()"
            mat-raised-button
          >
            Get Price
          </button>
          <h2 *ngIf="price != 0">Price: {{ price }}</h2>
        </div>
      </div>

      <div mat-dialog.action class="action">
        <button id="canclebtn" mat-raised-button (click)="moveToSpotBooking()">
          Cancel
        </button>
        <button
          id="submitbtn"
          color="primary"
          (click)="moveToPayment(); move()"
          mat-raised-button
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
