<div mat-dialog.title>
  <h1>Booking Info</h1>
  <!-- <app-booking-list></app-booking-list> -->
</div>
<form [formGroup]="bookingForm">
<div mat-dialog.content class="content" >
  <mat-form-field appearance="outline">
    <mat-label>Check_In</mat-label>
    <input matInput type="datetime-local" formControlName="Check_In">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Check_Out</mat-label>
    <input matInput type="datetime-local" formControlName="Check_Out">
  </mat-form-field>

</div>


<div mat-dialog.action>
  <button id="canclebtn" mat-raised-button>Cancle</button>
  <button id="submitbtn" color="primary" (click)="moveToPayment()" mat-raised-button> Submit </button>
</div>

</form>