<mat-toolbar color="primary" class="mat-elevation-z8">
  <button routerLink="" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Parkwavez</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-button>Home</button>
  <button routerLink="support" mat-button>Support</button>
  <button routerLink="contact" mat-button>Contact</button>
  <button mat-button>Sign Up</button>
  <button mat-raised-button color="accent">Login</button>
</mat-toolbar>

<mat-card class="">
  <mat-card-content>Finding parking shouldn't be a hassle.</mat-card-content>
  <mat-card-content>Let's get you parked and on to the bigger things.</mat-card-content>
  <mat-card-content>We are building the better world.</mat-card-content>
</mat-card>

