<div class="review-form">
  <h2>Submit Your Review</h2>
  <p>prov{{providerId}}</p>
  <form [formGroup]="reviewForm">
    <div class="ratingDiv">
      <p>Give Us Ratings</p>
      <ngx-star-rating
        formControlName="rating"
        [id]="'rating'"
      ></ngx-star-rating>
    </div>

    <mat-form-field class="full-width">
      <textarea
        matInput
        placeholder="Review Description"
        formControlName="reviewDesc"
        name="reviewDescription"
        required
      ></textarea>
    </mat-form-field>

    <div class="button-container">
      <button
        mat-raised-button
        color="warn"
        (click)="cancelReview()"
        class="cancel-button"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="submitReview(); submitClose()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
